%form
  = label :user, :username, "Username"
  = text_field :user, :username
  = label :user, :password, "Password"
  = password_field :user, :password
  %input{:type => "submit", :value => "Sign in"}